@import "tailwindcss";

@theme {
  --color-flowency-blue: hsl(215 25% 27%);
  --color-flowency-dark: hsl(215 25% 20%);
  --color-flowency-accent: hsl(24 95% 53%);
  --color-flowency-electric: hsl(189 85% 55%);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
